html, body {
	margin: 0;
}

#ball {
	position: absolute;
	width: 100px;
	height: 100px;

	top: 50%;
	top: calc(50% - 25px);
	left: 50%;
	left: calc(50% - 25px);
	background-image: url(img/apple.png);
	
	
}
#ball02{
	width: 100px;
	height: 100px;
	top: 20%;
	background-image: url(img/apple.png);
	display:none;
}

