html, body {
	margin:0;
}

div{
	overflow: hidden;
	position: absolute;
}
.falling{
	width: 600px;
	height: 606px;
}
.a01{
	background-image: url('img/apple01.jpg');	
}
.a02{
	background-image: url('img/apple02.jpg');	
}
.a03{
	background-image: url('img/apple03.jpg');	
}
.a04{
	background-image: url('img/apple04.jpg');	
}
.a05{
	background-image: url('img/apple05.jpg');	
}
.a09{
	background-image: url('img/apple06.jpg');	
}
.a07{
	background-image: url('img/apple07.jpg');	
}


